#catalog {

  .catalog-wrap {
    padding: 70px 0;
    background-color: $color-light-bg;

    .title {
      padding-bottom: 40px;
      text-align: center;

      p {
        margin: 0 auto;
        padding-top: 16px;
        max-width: 420px;
      }
    }

    .content {
      display: grid;
      grid-template-columns: 280px auto auto;
      grid-template-rows: auto 480px;
      grid-template-areas: 
        "cat inpt inpt"
        "cat anlz anlz";
      column-gap: 20px;
      row-gap: 20px;
    }

    .filter {
      display: none;
    }

    .btn {
      margin: 40px auto 0;
      display: block;
    }



//--- Categories ---//

    .categories-wraper {
      grid-area: cat;
    }

    .categories {
      padding: 16px 6px;
      overflow-y: scroll;
      height: 555px;
      background-color: $color-white;
      border-radius: 16px;

      .mainCategory {
        padding: 0 10px;

        &.active {

          &>span {
            padding: 6px 10px;
            background-color: $color-blue;
            color: $color-white;
            border-radius: 8px;

            &:hover {
              color: $color-white;
            }
          }

          &.tree {
            padding: 0;
          }
        }
      }

      span {
        display: block;
        padding: 4px 0;
        cursor: pointer;

        &:hover {
          color: $color-blue;
        }
      }

      .subCategories {
        padding-left: 22px;

        li {

          &:last-of-type {
            padding-bottom: 7px;
          }
        }
      }
    }



//--- Search ---//

    .search-wrapper {
      grid-area: inpt;
      max-width: 280px;

      input {
        padding: 17px 40px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }



//--- analyzes ---//

    .analyzes {
      grid-area: anlz;
      overflow-y: auto;
      background-color: $color-white;
      border-radius: 16px;

      span.note {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: rgb(200, 200, 200);
        font-size: 30px;
        font-weight: 500;
        line-height: 130%;
      }

      ul {
        padding: 16px;
      }

      li {
        display: flex;

        &:not(:last-child) {
          padding: 10px 0;
          border-bottom: 1px solid $color-light-bg;
        }

        &:last-child {
          padding-top: 10px;
        }
      }

      .code {
        width: 100px;
        color: $color-gray;
      }

      .name {
        width: 70%;
      }

      .price {
        margin-left: auto;
        padding-left: 20px;
        width: 90px;
      }
    }

    @include respond(medium-md) {

      .content {
        grid-template-columns: 240px auto auto;

        .categories {
          border-radius: 10px;
        }
        
        .analyzes {
          background-color: transparent;
          border-radius: 10px;

          ul {
            padding: 0;
          }

          li {
            padding: 16px;
            flex-direction: column;
            gap: 6px;
            background-color: $color-white;
            border-radius: 10px;
    
            &:not(:last-child) {
              margin-bottom: 12px;
              border: none;
            }
          }

          .code {
            width: 100%;
          }
    
          .name {
            width: 100%;
          }
    
          .price {
            margin-left: 0;
            padding-left: 0;
            width: 100%;
          }
        }
      }
    }

    @include respond(small) {

      .content {
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 16px;

        .filter {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 116px;
          background-color: $color-blue;
          color: $color-white;
          fill: $color-white;
          border-radius: 10px;
          z-index: 100;

          .ui-svg-icon {
            width: 16px;
            height: 14px;
          }
        }

        .search-wrapper {
          max-width: none;
          width: calc(100% - 116px - 16px);
          flex-shrink: 1;
        }

        .analyzes {
          width: 100%;
          min-height: 100px;
          max-height: 500px;

          span.note {
            font-size: 25px;
          }
        }

        .showCategories {
          min-height: 500px;
        }

        .categories-wraper {
          position: absolute;
          width: 100%;
          padding-top: 53px;
          height: 583px;
          background-color: $color-white;
          border-radius: 10px;
          z-index: 99;
        }

        .categories {
          height: 100%;
          border-top: 1px solid $color-dark-bg;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}